.heroWrapper {
    padding: 10px 20px;
    /* left-right spacing */
    background-color: #f5f3f0;
}

.heroContainer {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    border-radius: 14px;
}



.videoBG {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* prevents accidental clicks */
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.centerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: #fff;
    width: 100%;
    pointer-events: none;
    /* optional */
}

.playButton {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 4;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 14px;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.playButton:hover {
    background: #fff;
    color: #000;
}
.centerContent h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.centerContent h1 {
    font-size: 3rem;
    font-weight: 700;
}

/* .playButton {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 3;
    background: white;
    color: black;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} */