.heroWrapper {
    padding: 10px 20px;
    /* left-right spacing */
    background-color: #f5f3f0;
}

.heroContainer {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    border-radius: 14px;
}

.videoBG {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.centerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #fff;
}

.centerContent h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.centerContent h1 {
    font-size: 3rem;
    font-weight: 700;
}

.playButton {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 3;
    background: white;
    color: black;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}